@import '../../styles/breakpoints.scss';


.projects-wrapper{
    position: relative;
    display: flex;
    // border: 1px solid gold;
    @include media('<=tablet'){
        flex-direction: column;
    }
    
    #project-nav{
        // position: absolute;
        // top: 0px;
        // left: 0px;
        border: 1px solid crimson;
        display: flex;
        height: 100%;
        width: 15%;
        flex-direction: column;
        align-items: center;
        align-self: center;
        @include media('<=desktop'){
        width: 20%;
        }
        @include media('<=tablet'){
            width: 100%;
        ul{
            display: flex;
            justify-content: space-around;
            
            li{
                padding: 0px 20px;
            }
        }
    }
    ul{
        border-right:4px solid gray;
        padding: 0px ;
    li{
        // padding: 20px 0px;
        a{
            position: relative;
            .nav-line-block{
                height: 50px;
                width: 50px;
                // border: 1px solid gold;
                position: relative;
                .nav-line-block-number{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                }
                .nav-line-block-line{
                    
                    background-color: rebeccapurple;
                    width: 5px;
                    height: 100%;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                }
            }
        }
    }
}

    }

.project-content{
    // border-bottom: 1px solid gray;
    // height: 75vh;
.project-title{
    font-size: 36px;
}
.project-info{
    // border: 1px solid rgb(0, 60, 255);
    display: flex;
    justify-content: space-around;
    @include media('<=tablet'){
       flex-direction: column;
       align-items: center;
      }
     

    .project-img{
        // background-image: url('./kronos.png');
        background-position: center center;
        box-sizing: content-box;
        background-repeat: no-repeat;
        background-size: cover;
        width: 250px;
        height: 250px;
        align-self: center;
        @include media('<=tablet'){
            height: 100px;
            width: 100%;
        }
    }
    .project-info-block{
    // border: 1px solid green;
    width: 60%;
    @include media('<=tablet'){
        width: 100%;
    }
        .tech-stack-list{
        display: flex;
        li{
        margin-right:  20px;
            }
        }
    }
}

}

}