@import '../../styles/breakpoints.scss';


.projects-wrapper{
    // font-family:"Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    // Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif ;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 80%;
    opacity: 0.9;
    width: 100vw;
    border:1px solid red;
    @include media('<=tablet'){
        flex-direction: column;
        justify-content: flex-start;
    }
    
    #project-nav{
        margin: 0 auto;
        
        ul{
            padding: 0px;
            width: 100%;
            @include media('<=tablet'){
            display: flex;
            justify-content: space-around;
            width: 100%;
            
            }
        }
ul{
    // transition: all 12s;
    .nav-line-block-line{
        background-color: rgb(207, 207, 207);
        // transition: all 3s;
    }
    
    li{
        cursor: pointer;
        text-align: center;
        width: 50px;
        height: 50px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: all 1s;
        font-size: 30px;
        
        @include media('<=tablet'){
        width: 100%;
        height: 30px;
        padding: 0px 10px;
        }
       
    }
}

    }

.project-content{
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 85%;
    border: 1px solid black;
    position: relative;
        button{
            position: absolute;
            top:50%;
            margin-top: -15px;
            font-size: 30px; 
            background-color: transparent;
            opacity: 0.9;
            transition: all 0.4 ease-in-out;
            font-family: 'Londrina Shadow', cursive;
            transition: all 0.3s;
            transform: scale(1);
            vertical-align: middle;
            
            &:hover{
                cursor: pointer;
                opacity: 1;
                
            }
            &:active{
                transform: scale(.9);
            }
            }
    .next-button{
        right:-50px;
    }
    .prev-button{
        left:-50px;
    }

.project-title{
    font-size: 24px;
    // padding: 0px 10px;
    @include media('<=phone'){
        font-size: 20px;
    }
    
}
.project-info{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    @include media('<=tablet'){
    flex-direction: column;
    align-items: center;
    
    }
    .project-img-link{
        position: relative;
        display: flex;
        // box-shadow: 0px 0px 9px black;
        
        @include media('<=tablet'){
            width: 100%;
        }
        &:hover{
            .project-img-link-title{
                transform: translateX(0px);
                opacity: 1;
            }
            .project-img-link-layer{
                opacity: 0.7;
                transition: all 0.3s
            }
        }
        .project-img-link-title{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateX(-10px);
            opacity: 0;
            transition: all 0.3s;
            color:white;
            font-weight: 100;
            letter-spacing: 1px;
            text-transform: uppercase;
          }
      }

    .project-img{
        background-position: center center;
        box-sizing: content-box;
        background-repeat: no-repeat;
        background-size: cover;
        width: 450px;
        height: 450px;
        align-self: center;
        .project-img-link-layer{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: black;
            opacity: 0;
        }
        @include media('<=desktop'){
            width: 350px;
            }

        @include media('<=tablet'){
            height: 100px;
            width: 100%;
        }
    }
    .project-info-block{
    align-self: center;
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 100;
    ul{
        letter-spacing: -1px;
        // opacity: 0.8;
    }
    .achievements-list{
        list-style: disc;
        padding-left: 20px;
        line-height: 1.4em;
        li{
            margin-top: 10px;
        
        &::marker{
            color: hotpink;
            font-size: 1rem;
            // content: url();
        }
    }
    }
    p{
        min-height: 100px;
        @include media('<=tablet'){
            min-height: auto;
        }
        
    }
    @include media('<=tablet'){
        width: 100%;
    }
        .tech-stack-list{
        display: flex;
        font-size: 26px;
        justify-content: space-between;
        margin-top: 10px;
        padding: 0px 10px;
        @include media('<=phone'){
            margin-top: 5px;
        }
        li{
            cursor: pointer;
        }
        }
    }
}

}

}