@import '../../styles/breakpoints.scss';

.hamburger-menu{
    display: none;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    .menu-layer{
        position: relative;
        background-color: #e7edff;
        height: 100%;
        overflow: hidden;
        .wrapper{
            height: 100%;
            position: relative;
            .menu-links{
                position: relative;
                top:200px;
                text-align: center;
                nav{
                    display: block;
                    ul{
                        padding: 0px;
                        margin: 0px;
                        li{
                            font-size: 6rem;
                            font-weight: 700;
                            height: 100px;
                            cursor: pointer;
                            position: relative;
                            width: 700px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            @include media('<=tablet'){
                                width: 450px;
                            }
                            @include media('<=phone'){
                                font-size: 3.5rem;
                                font-weight: 700;
                                height: 75px;
                                width: 250px;
                            }
                            a{
                                color: #ffffff;
                                &:hover{
                                    color: blue;
                                }
                            }
                        }
                    }
                }
            }
            .social-links{
                position: absolute;
                bottom: 20px;
                left: 0px;
                width: 100%;
                box-sizing: border-box;
                justify-content: center;
                ul{
                    display: flex;
                    padding: 0;
                    width: 400px;
                    margin: 0 auto;
                    @include media('<=tablet'){
                        width: 300px;
                    }
                    @include media('<=phone'){
                        width: 200px;
                    }
                    li{
                        margin: 0 auto;
                        a{  
                            display: inline-flex;
                            padding: 10px 20px;
                            font-size: 3em;
                            transition: all 0.2s;
                            &:hover{
                                display: inline-flex;
                                transform: translateX(1px);
                                transform: scale(1.1);
                            }
                        }
                    }

                }
            }
        }
    }
    .second-background-menu{
    background-color: black;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    }
}