@import '../../styles/breakpoints.scss';

.hamburger-menu{
    display: none;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    .menu-layer{
        position: relative;
        background-color: burlywood;
        height: 100%;
        overflow: hidden;
        .wrapper{
            height: 100%;
            position: relative;
            .menu-links{
                // display: flex;
                // justify-content: space-between;
                // align-items: center;
                position: relative;
                top:200px;
                // overflow: hidden;
                nav{
                    display: block;
                    ul{
                        padding: 0px;
                        margin: 0px;
                        li{
                            font-size: 5rem;
                            font-weight: 700;
                            height: 100px;
                            cursor: pointer;
                            border: 1px solid blue;
                            position: relative;
                            width: 700px;
                            display: inline-flex;
                            align-items: center;
                            overflow: hidden;
                            @include media('<=tablet'){
                                width: 450px;
                            }
                            @include media('<=phone'){
                                font-size: 3.5rem;
                                font-weight: 700;
                                height: 75px;
                                width: 250px;
                            }
                            a{
                                // position: absolute;
                                color: #ffffff;
                                &:hover{
                                    color: blue;
                                }
                            }
                        }
                    }
                }
            }
            .social-links{
                position: absolute;
                bottom: 20px;
                left: 0px;
                border: 2px solid tomato;
                width: 100%;
                box-sizing: border-box;
                justify-content: center;
                ul{
                    display: flex;
                    /* align-items: center; */
                    padding: 0;
                    width: 400px;
                    border: 1px solid red;
                    margin: 0 auto;
                    @include media('<=tablet'){
                        width: 300px;
                    }
                    @include media('<=phone'){
                        width: 200px;
                    }
                    li{
                        margin: 0 auto;
                        a{  
                            display: inline-flex;
                            padding: 10px 20px;
                            font-size: 24px;
                            border: 1px solid green;
                        }
                    }

                }
            }
        }
    }
    .second-background-menu{
    background-color: black;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    }
}