@import '../../styles/breakpoints.scss';


.home-wrapper{
    
.hello-span{
    letter-spacing: 1px;
}
    h2{
        font-size: 3.4em;
        margin-bottom: 40px;
        font-weight: 600;
        line-height: 1.2;
        color: gray;
        letter-spacing: -1.4px;
        &:last-child{
            margin-bottom:0px;
            // color: red;
        }
        strong{
            color: black;
        }
    }
}
