@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,800&display=swap");
@import './styles/breakpoints.scss';


// $red: #e20001;
// $black: #191919;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    ul{
      list-style: none;
      padding: 10px 0px;
      margin: 0px;
    }
    a{
      text-decoration: none;
    }
    p,h1,h2,h3,h4,h5{
      padding: 0;
      margin: 0;
}
h1{
  font-size: 48px;
}

.App{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
    .container{
      width: 1024px;
      height: 100%;
      margin: 0 auto;
      padding: 0px 10px;
      border: 1px solid red;
      box-sizing: border-box;
    @include media('<=desktop'){
      width: 768px;
      min-width: 768px;
    }
    @include media('<=tablet'){
      width: 560px;
      min-width: 560px;
    }
    @include media('<=phone'){
      width: 80vw;
      min-width: 300px;
    }

    .wrapper{
      // padding: 0px 48px;
      height: 100%;
    @include media('<=desktop'){
        // padding: 0px 24px;
    }
    @include media('<=tablet'){
      // padding: 0px 36px;
    }
    @include media('<=phone'){
      // padding: 0px 16px;
    }
    }
    }

}
